body {
    background-color: #fff;
    margin: 0;
    padding: 1em;
    font-family: Helvetica, Arial;
}

.example {
    text-align:center;
    position: relative;
    width: 900px;
    left: 50%;
    margin-left: -450px;
}
.code {
    text-align: left;
    font-family: courier, monospace;
}

.code code {
    display: block;
    margin: 1em;
    padding: 1em;
    font-size: 1em;
    background-color: bisque;
}
.demo {
    width: 640px;
    height: 400px;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    left: 50%;
    margin-left: -320px;
}

.demo h3 {
    font-size: 3em;
    margin: 0;
    padding-top: 2em;
}

.demo p {
    font-size: 1em;
}

.info > p {
    font-size: 0.7em;
}

.copyright {
    text-align: center;
    padding-top: 1em;
    font-size: 0.8em;
}